* {
	/* border: 1px solid red; */
}
.footer {
	background-color: transparent;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer .container {
	margin: 0 0 0.5rem 0;
	padding: 2px;
	height: 35px;
}
.flexer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	margin: 0 4rem;
}

.flexer > li {
	order: 0;
	flex: 1 1 auto;
	align-self: auto;
	list-style: none;
	text-decoration: none;
	text-align: right;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	opacity: 0.5;
	user-select: none;
}

.flexer > div {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.footer img {
	width: 30px;
	height: auto;
	opacity: 0.5;
	white-space: nowrap;
}
.footer img:hover {
	opacity: 1;
}

a {
	cursor: pointer;
}
