#gameContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 115px);
}

#gameScreen {
	background: #202526;
	color: #fff;

	padding: 55px 75px 35px 75px;
}
