.navbar {
	height: 80px;
	display: fixed;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #242424;
}

.mobile-navbar-container {
	float: left;
	display: block;
}

.bm-item menu-item {
	padding: 20px;
}

.navbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1500px;
	background-color: #242424;
	float: right;
}

.nav-menu {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 65px 1fr 65px 1fr 65px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 65px;
	grid-row-gap: 0px;
	list-style: none;
	text-align: center;
	width: 50px;
	justify-content: end;
	margin-right: 1rem;
	margin-left: 1rem;
	font-family: "Rubik";
	background-color: #242424;
}
.bm-item-list:hover {
	color: #d526dfcf;
}
/* .nav-dashboard {
      width: inherit;
      margin: auto;
    }
    
    .nav-login:hover {
      color: violet;
    }
    
    .nav-products:hover {
      color: violet;
    }
    
    .nav-faq: {
      color: violet;
    } */

.nav-links {
	color: #fff;
	border-color: #242424;
	background-color: #242424;
	justify-self: start;
	cursor: pointer;
	/* padding: 5px 0px; */
	text-decoration: none;
	font-size: 1.25rem;
	display: inherit;
	align-items: center;
}

.nav-links:hover,
.nav-links:active {
	color: violet;
	transition: all 150ms ease-in-out;
}
